*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
button{
    cursor: pointer;
}



html{
    font-size: 62.5;
}

.hd-img{
    width: 10%;
}

.main-header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;


}

.main-header ul, li{
    text-decoration: none;
    display: inline;
    font-size: .7rem;
    padding: 10px;
    margin-top: 13px;
    
    
}

.hd-btn{
   height: 30px;
   width: 10%;
   margin-top: 13px;
   background-color:#F5F6FB ;
   font-size: .6rem;
   margin-right: 30px;
   border: none; 
   border-radius: 3px;

    
}
/* //bannar section// */
.hero-bannar{
    padding:0 0 40px 20px;
    display: flex;
    justify-content: space-between;
}
.bannar-text h2{
    font-size: 2rem;
    margin: 10px;
    font-family:"Poppins", sans-serif; ;
    width: 90%;
    
}

.bannar-text p{
    font-size: .7rem;
    font-family: "Poppins", sans-serif;
    margin: 10px;
    width: 60%;
    margin-top: 10px;


}
.bannar-btn{
    background-color:#1F7CFF ;
    color: #fff;
    margin-left: 10px;
    border: none;
    padding: 6px;
    font-family: "Poppins", sans-serif;
    border-radius: 4px;
    margin-top: 10px;
}

.bannar-image{

    
}

.bannar-image img{
    width: 50%;
    margin-left: 150px;

}

/* barands */

.barands{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
}
.barands_logo{
    width: 10%;
}

/* bussines */



.header-wrapper h2{
    margin-top: 70px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;
}

.header-wrapper p{
    margin-top: 10px;
    text-align: center;
    font-size: .8rem;
    font-family:'Poppins',sans-serif ;
}

.main-box{
    display: grid;
    margin-top: 20px;
    gap: 50px;
    padding: 20px;
    grid-template-columns: repeat(3,1fr);
}

.box {
   display: flex;
   flex-direction: column;
   align-items: center;
}
 .main-img1
 {
    background-color: aqua;
    border-radius: 20px;
     border-radius: 30px;
    padding: 7px;
 }
 .main-img2{
    background-color: #F75C4E;
    border-radius: 30px;
    padding: 7px;
 }
 .main-img3{
    background-color: #191046;
     border-radius: 30px;
    padding: 7px;
 }
 .main-img4{
    background-color: #FF1FB3;
     border-radius: 30px;
    padding: 7px;
 }
 .main-img5{
    background-color: #5C4EF7;
     border-radius: 30px;
    padding: 7px;
 }
 .main-img6{
    background-color: #5C4EF7;
     border-radius: 30px;
    padding: 7px;
 }
 
 
.main-box h4{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1rem;
}
.main-box p{
    margin-top: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: .6rem;
    line-height: 1rem;
    width: 80%;
}


/* //boost section third  */
.boost{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.boost img{
    width: 90%;
}
.boost-main{
    padding: 20px;
    margin-left: 20px;
}

.boost-text h2{
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;

}
.boost-text p{
    font-size: .7rem;
    width: 70%;
    font-family: 'Poppins', sans-serif;
}

.boost-btn{
    background-color:#1F7CFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
}

/* //fouth section */

.highest{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.highest img{
    width: 90%;
}
.highest-main{
    padding: 20px;
    margin-left: 20px;
}

.highest-text h2{
    font-size: 2rem;
    font-family: 'Poppins',sans-serif;

}
.highest-text p{
    font-size: .7rem;
    width: 70%;
    font-family: 'Poppins', sans-serif;
}

.highest-btn{
    background-color:#1F7CFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
}


/* //testimonal */
.testimonial-main{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial-main img{
    width: 70%;
}


/* // samll footer */

.second-footer{
    position: relative;
    z-index: 1;
    margin:80px;
    display: flex;
    margin-bottom: -70px;
    align-items: center;
    justify-content: center;
    background-color:#1F7CFF ;
    height: 300px;
}
.second-footer h2{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;

}

.footmainbtn{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    gap: 20px;
}
.smallfooterbtn1{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #1F7CFF;
    padding: 10px;
    font-family: 'Poppins',sans-serif;
}
.smallfooterbtn2{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-family: 'Poppins',sans-serif;
}

/* //mainfooter */
.mainfooter{
    position: relative;
    width: 100%;
    max-width: 800;
    height: 350px;
    display: flex;
    padding:140px 50px 50px 50px;
    justify-content: center;
    flex-direction: row;
    background-color: #191046;
}

.mainfooter li{
    color: #fff;
    font-size: .4rem;

}
.mainfooter i{
    color: #fff;
}

.mainfooter h4{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* //companyinfo */
.companyinfo{
    width: 60%;
}
.companyinfo p{
    color: #fff;
    width: 70%;
    margin-top:10px ;
    line-height: 1rem;
    font-size: .5rem;
}
.companyinfo li{
    margin-top: 10px;
}
.companyinfo i{
    margin-top: 20px;
}
/* contactinfo */
.contactinfo{
    width: 40%;
}
.contactinfo li{
    margin-top: 10px;
}
.contactinfo i{
    margin-top: 10px;
}

/* ourservice */
.ourservice{
    margin-left: 10px;
   width: 40%;
}
.ourservice h4{
    margin-left: 6px;
   
}
.ourservice li{
    margin-top: 10px;
   }

.ourlocation{
    width: 30%;
}
.mainfooter h4{
    font-size: 0.9rem;
}
.copyright{
    
    background-color:#191046 ;
    text-align: center;
    color: #fff;
    font-size: .5rem;
    padding-bottom: 10px;
}